**/bin/
!vendor/bin/
bin-int/


.vs/
**.sln
**.vcxproj.filters
**.vcxproj.user
*.vcxproj
*.user
LearningOpenGL-Core/LearningOpenGL-Core.vcxproj
LearningOpenGL-Core/LearningOpenGL-Core.vcxproj.user
Sandbox/Sandbox.vcxproj
Sandbox/Sandbox.vcxproj.user
Sandbox/Sandbox.vcxproj.user
LearningOpenGL-Core/LearningOpenGL-Core.vcxproj.user
LearningOpenGL-Core/LearningOpenGL-Core.vcxproj.user
LearningOpenGL-Core/LearningOpenGL-Core.vcxproj
LearningOpenGL-Core/LearningOpenGL-Core.vcxproj.user
Sandbox/Sandbox.vcxproj
*.user
